.titre{
    padding-top:99px;
    font-size:55px;
    margin:auto;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
}

.bandeauPresDispo{
    margin-top:30px;
}

.allButFooter{
    min-height: calc(100vh - 30px);
}

.titreAccueil{
    color: rgba(255, 255, 255, 0.95);
    font-size:85px;
    margin:auto;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
    padding-top: 13%;
}

.bandeauHaut{
    width:100%;
    height:500px;
    margin-top:50px;
    vertical-align:middle;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://www.chateauversailles.fr/sites/default/files/styles/visuel_principal_home/public/visuels_principaux/dddddddddg.jpg?itok=4Li3MDEX')
}

.presDispositif{
    margin-right:2rem;
    margin-left:2rem;
    border:solid 1px;
    border-radius:8px;
    border-color:rgba(200, 200, 200, 0.712);
    box-shadow: 2px 2px rgba(209, 209, 209, 0.479)
}


.titre-section{
    font-size:50px;
    margin:auto;
    text-align:center;
    font-family: 'Playfair Display SC', serif;
    padding-top: 10px;
    padding-bottom:50px;
}

.footer{
    margin-top:100px;
    height: 30px;
    text-align: center;
    background-color: rgba(56, 56, 56, 0.6);
}

.texte-footer{
    color:rgba(255, 255, 255, 0.95);
}

.form{
    width: 370px;
    margin-left: auto;
    margin-right: auto;
}
.containerFlex{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width:90%;
    justify-content: space-evenly;
    margin : 5%;
}

.cardEcole{
    border:solid 1px;
    border-radius:8px;
    border-color:rgba(200, 200, 200, 0.712);
    box-shadow: 2px 2px rgba(209, 209, 209, 0.479);
    width:450px;
    margin: 30px 0px 0px 10px;
    font-family: 'Montserrat', sans-serif;
}
.cardEcoleUnique{
    border:solid 1px;
    border-radius:8px;
    border-color:rgba(200, 200, 200, 0.712);
    box-shadow: 2px 2px rgba(209, 209, 209, 0.479);
    margin: 40px 50px 10px;
    padding: 0px 70px 0px;
    font-family: 'Montserrat', sans-serif;
}

.nomEtablissement{
    font-size:large;
    text-align: left;
    font-weight: bold;
    margin-top:15px;
    margin-left: 1.5em;
}

.anchorSchoolName{
    text-decoration: underline black;
}

.elementListeCard{
    list-style: none;
}

.alert{
    margin-top: 100px;
}

#map{
    height:475px;
    width:75%;
    margin-top: -18px;
    margin-bottom: -12px;
    border-radius: 15px;
}

.afficheEcole{
    margin-top:300px;
    display:flex;
}

.nomEtablissementUnique{
    font-size: 27pt;
    margin-top:40px;
    text-align: center;
    font-weight: 600;
}

.elementListeCardUnique{
    list-style: none;
    margin-top:18px;
    margin-left:30px;
}

.elementlisteTypesEcoles{
    list-style: none;
    margin-top:8px;
    margin-left:30px;
    font-weight: 500;
}

.listeInformations{
    margin-top:60px;
    margin-left: -33px;
}
.listeInformations2{
    margin-top:30px;
    margin-left: -33px;
}
